<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>StopWasting</title>
<link rel="stylesheet" type="text/css"
	href="../static/bootstrap/css/bootstrap.min.css"
	th:href="@{/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" href="../static/global.css"
	th:href="@{/global.css}">
</head>
<body>

<div th:replace="fragments/topnav :: topNav">
	</div>
	
	<h3>Test</h3>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div>Consultation des produits publiés</div>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</body>
</html>