<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8">
<title>login</title>


<link type="text/css" rel="stylesheet"
	th:href="@{/bootstrap/cssLogin/style.css}" />
<link type="text/css" rel="stylesheet"
	th:href="@{/bootstrap/css/bootstrap.min.css}" id="bootstrap-css" />
<script th:href="@{//code.jquery.com/jquery-1.11.1.min.js}"></script>
<script th:href="@{/bootstrap/js/bootstrap.min.js}"></script>

</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="wrap">
					<p class="form-title">Authentification</p>
					
					<form class="login" th:action="@{/login}" method="post">
						<input type="text" placeholder="Raison sociale" name="username" />
						<input type="password" placeholder="Password" name="password" />
						<input type="submit" value="Valider"
							class="btn btn-success btn-sm" name="signUp" />
							
					<div th:if="${param.error}" class="login red">raison sociale ou mot de pass incorrect
					</div>
					<div th:if="${param.logout}" class="green">Vous avez été
						déconnecté.</div>
					
					</form>
				</div>
			</div>
		</div>
	</div>


</body>
</html>